/* Атомная анимация для hero секции */

.atomic-animation {
	width: 300px;
	height: 300px;
	position: relative;
	margin: 0 auto;
	filter: blur(0.5px);
	animation: sway_ 4s ease-in-out infinite;
}

.atomic-animation > div {
	border-radius: 50%;
	border: 3px solid #fff;
	transform-style: preserve-3d;
	transform: rotateX(80deg) rotateY(20deg) translateZ(0);
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -150px;
	width: 300px;
	height: 300px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	will-change: transform;
}

.atomic-animation > div:first-of-type::after {
	content: '';
	position: absolute;
	height: 60px;
	width: 60px;
	background: #fff;
	border-radius: 50%;
	transform: rotateX(-80deg) rotateY(0);
	box-shadow: 0 0 25px #fff;
	animation: nucleus_ 2s infinite linear;
	left: 50%;
	top: 50%;
	margin-top: -30px;
	margin-left: -30px;
}

.atomic-animation > div:nth-of-type(2) {
	transform: rotateX(-80deg) rotateY(20deg);
}

.atomic-animation > div:nth-of-type(2) > div,
.atomic-animation > div:nth-of-type(2) > div::after {
	animation-delay: -0.5s;
}

.atomic-animation > div:nth-of-type(3) {
	transform: rotateX(-70deg) rotateY(60deg);
}

.atomic-animation > div:nth-of-type(3) > div,
.atomic-animation > div:nth-of-type(3) > div::after {
	animation-delay: -1s;
}

.atomic-animation > div:nth-of-type(4) {
	transform: rotateX(70deg) rotateY(60deg);
}

.atomic-animation > div:nth-of-type(4) > div,
.atomic-animation > div:nth-of-type(4) > div::after {
	animation-delay: -1.5s;
}

.atomic-animation > div > div {
	width: 300px;
	height: 300px;
	position: relative;
	transform-style: preserve-3d;
	animation: trail_ 2s infinite linear;
}

.atomic-animation > div > div::after {
	content: '';
	position: absolute;
	top: -7px;
	box-shadow: 0 0 12px #fff;
	left: 50%;
	margin-left: -7px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #fff;
	animation: particle_ 2s infinite linear;
}

@keyframes trail_ {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

@keyframes particle_ {
	from {
		transform: rotateX(90deg) rotateY(0deg);
	}
	to {
		transform: rotateX(90deg) rotateY(-360deg);
	}
}

@keyframes nucleus_ {
	0%,
	100% {
		box-shadow: 0 0 0 transparent;
	}
	50% {
		box-shadow: 0 0 25px #fff;
	}
}

@keyframes sway_ {
	0%,
	100% {
		transform: translateX(0) translateY(0) rotate(0deg);
	}
	25% {
		transform: translateX(3px) translateY(-2px) rotate(2deg);
	}
	50% {
		transform: translateX(-2px) translateY(3px) rotate(-2deg);
	}
	75% {
		transform: translateX(-3px) translateY(-2px) rotate(1deg);
	}
}

/* Мобильная версия */
@media (max-width: 768px) {
	.atomic-animation {
		width: 200px;
		height: 200px;
		margin-top: -40px;
	}

	.atomic-animation > div {
		margin-left: -100px;
		margin-top: -100px;
		width: 200px;
		height: 200px;
	}

	.atomic-animation > div:first-of-type::after {
		height: 40px;
		width: 40px;
		margin-top: -20px;
		margin-left: -20px;
	}

	.atomic-animation > div > div {
		width: 200px;
		height: 200px;
	}

	.atomic-animation > div > div::after {
		top: -5px;
		margin-left: -5px;
		width: 5px;
		height: 5px;
	}
}
